body {
  margin: 0;
}
.header{
  background-color: #855CD6;
  padding: 1rem;
}
.header h2 {
  margin: 0;
}
.btn-group {
  float: right;
  margin-top: 1.5rem;
}

.btn-group button {
    background-color: #855CD6; /* purple background */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    font-weight: bold;
    border-color: white;
  }
  
  .btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .btn-group:after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Add a background color on hover */
  .btn-group button:hover {
    background-color: #7753C0;
  }
  body{
background-color: white;

background-repeat: no-repeat;
background-size: cover;
  }

h1 a{
  color: #855CD6;
}

h2 p{h
    font-size: 24pt;
    color: white;
}

h2 a{
  color: #855CD6
}

.info{
  margin: 10rem auto;
  text-align: center;
  font-size: 60px;
}

h3 p{
  font-size: 5pt;
  color: white;
}
